<!-- SIDEBAR -->
<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <li>
            <% @roots_taxon.each do |root_taxon| %>
              <a href="javascript:;" data-toggle="collapse" data-target="#<%= root_taxon.permalink %>"><%= root_taxon.name %><i class="fa fa-plus"></i></a>
              <ul id="<%= root_taxon.permalink %>" class="collapse collapseItem">
                <% root_taxon.leaves.each do |taxon| %>
                  <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %> <span>(<%= taxon.products.count %>)</span></a></li>
                <% end %>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default priceRange">
    <div class="panel-heading">値段から探す</div>
    <div class="panel-body clearfix">
      <div class="price-slider-inner">
        <span class="amount-wrapper">
          <input type="text" id="price-amount-1" readonly>
          <strong>-</strong>
          <input type="text" id="price-amount-2" readonly>
        </span>
        <div id="price-range"></div>
      </div>
      <input class="btn btn-default" type="submit" value="絞り込む">
      <!-- <span class="priceLabel">Price: <strong>12 円- 30<円/strong></span> -->
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><a href="#">ブラック<span>(15)</span></a></li>
        <li><a href="#">ホワイト<span>(10)</span></a></li>
        <li><a href="#">レッド<span>(7)</span></a></li>
        <li><a href="#">ブルー<span>(12)</span></a></li>
        <li><a href="#">オレンジ<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <li><a href="#">S<span>(15)</span></a></li>
        <li><a href="#">M<span>(10)</span></a></li>
        <li><a href="#">L<span>(7)</span></a></li>
        <li><a href="#">XL<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
</div>
