<% provide(:title, @taxon.name) %>
<%= render partial: 'shared/light_section', locals: { title_or_breadcrumbs: @taxon.name } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <%= render partial: 'categories_filter', collection: @root_taxons, as: :root_taxon %>
              </ul>
            </div>
          </div>
        </div>
        <%= render partial: 'search_filter' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <select name="guiest_id1" id="guiest_id1" class="select-drop">
              <option value="0">並び替え</option>
              <option value="1">人気順</option>
              <option value="2">安い順</option>
              <option value="3">新着順</option>
              <option value="3">高い順</option>
            </select>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <%= link_to potepan_category_path(@taxon.id, view: "grid"), class: @category_view == "list" ? "btn btn-default" : "btn btn-default active" do %>
                <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
              <% end %>
              <%= link_to potepan_category_path(@taxon.id, view: "list"), class: @category_view == "list" ? "btn btn-default active" : "btn btn-default" do %>
                <i class="fa fa-th" aria-hidden="true"></i><span>List</span>
              <% end %>
            </div>
          </div>
        </div>
        <% if @category_view == "list" %>
          <div class="row productListSingle">
            <%= render partial: 'product_list_view', collection: @products, as: :product %>
          </div>
        <% else %>
          <div class="row">
            <%= render partial: 'product_grid_view', collection: @products, as: :product %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/partners_logo' %>
