<% provide(:title, @taxon.name) %>
<%= render 'shared/page_header', page: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'shared/sidebar'%>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: 'shared/filter_area' %>
        <% if @category_view == "list" %>
          <div class="row productListSingle">
            <%= render partial: 'shared/product_list_view', collection: @products, as: :product %>
          </div>
        <% else %>
          <div class="row">
            <%= render partial: 'shared/product_grid_view', collection: @products, as: :product %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/partners_logo' %>
