<div class="row filterArea">
  <div class="col-xs-6">
    <%= form_tag request.path, method: :get do %>
      <%= hidden_field_tag 'tshirt-size', params['tshirt-size'] if params['tshirt-size'] %>
      <%= hidden_field_tag 'tshirt-color', params['tshirt-color'] if params['tshirt-color'] %>
      <%= hidden_field_tag 'view', params['view'] if params['view'] %>
      <%= hidden_field_tag 'keyword', params['keyword'] if params['keyword'] %>
      <%= select_tag(:sort, options_for_select(@product_filter.sort_select_collection, { selected: params[:sort] || 'newest' }), class: 'select-drop', onchange: 'this.form.submit();') %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group">
      <%= link_to url_for(params.permit(*filter_params).merge(view: 'grid')), class: @category_view == "list" ? "btn btn-default" : "btn btn-default active" do %>
        <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
      <% end %>
      <%= link_to url_for(params.permit(*filter_params).merge(view: 'list')), class: @category_view == "list" ? "btn btn-default active" : "btn btn-default" do %>
        <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span>
      <% end %>
    </div>
  </div>
</div>
