<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <%= image_tag product.display_image.attachment(:product), :alt => "products-img" %>
      <span class="maskingImage"><a data-target="#modal-<%= product.id %>" data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
    </div>
    <div class="media-body">
      <%= link_to potepan_product_path(product.id) do %>
        <h4 class="media-heading"><%= product.name %></h4>
      <% end %>
      <p><%= product.description %></p>
      <h3><%= product.display_price %></h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/modal/product_quick_view_modal', locals: { product: product } %>
