<div class="bannercontainer">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
          <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-x="370" data-y="54" data-speed="800" data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
              <%= image_tag("home/banner-slider/shoe1.png", :alt => "slider-image") %>
            </div>

            <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-y="119" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
              Canvas Sneaker
            </div>

            <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-y="185" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
              Exclusive to <br>
              BigBag <br>
              <small>Spring / Summer 2020</small>
            </div>
            <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-y="320" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
              <span class="page-scroll"><a href="single_product.html" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
            </div>
          </div>
        </li>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
          <div class="slider-caption container captionCenter">
            <div class="tp-caption rs-caption-1 sft start captionCenterAlign" data-x="center" data-y="228" data-speed="800" data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
              <%= image_tag("home/banner-slider/shoe2.png", :alt => "slider-image") %>
            </div>

            <div class="tp-caption rs-caption-2 sft captionCenterAlign" data-x="center" data-y="50" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
              Exclusive to BigBag
            </div>

            <div class="tp-caption rs-caption-3 sft captionCenterAlign" data-x="center" data-y="98" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
              Canvas Sneaker
            </div>

            <div class="tp-caption rs-caption-4 sft captionCenterAlign" data-x="center" data-y="156" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
              <span class="page-scroll"><a href="single_product.html" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
            </div>
          </div>
        </li>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
          <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-x="0" data-y="85" data-speed="800" data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
              <%= image_tag("home/banner-slider/shoe3.png", :alt => "slider-image") %>
            </div>

            <div class="tp-caption rs-caption-2 sft " data-hoffset="0" data-y="119" data-x="800" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
              Canvas Sneaker
            </div>

            <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-y="185" data-x="800" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
              Exclusive to <br>
              BigBag <br>
              <small>Spring / Summer 2020</small>
            </div>

            <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-y="320" data-x="800" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
              <span class="page-scroll"><a href="single_product.html" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row featuredCollection">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>人気カテゴリー</h4>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= link_to potepan_category_path(7), view: "grid" do %>
          <div class="thumbnail">
            <div class="imageWrapper">
              <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
            </div>
            <div class="caption">
              <h4>Shirts</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= link_to potepan_category_path(3), view: "grid" do %>
          <div class="thumbnail">
            <div class="imageWrapper">
              <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
            </div>
            <div class="caption">
              <h4>Bags</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= link_to potepan_category_path(4), view: "grid" do %>
          <div class="thumbnail">
            <div class="imageWrapper">
              <%= image_tag("home/featured-collection/featured-collection-03.jpg", :alt => "feature-collection-image") %>
            </div>
            <div class="caption">
              <h4>Lifestyle</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if @new_products != [] %>
      <div class="row featuredProducts">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>新着商品</h4>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="owl-carousel featuredProductsSlider">
            <% @new_products.map do |product| %>
              <div class="slide">
                <div class="productImage clearfix">
                  <%= image_tag product.display_image.attachment(:product), :alt => "featured-product-img" %>
                  <div class="productMasking">
                    <ul class="list-inline btn-group" role="group">
                      <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                      <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                      <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="productCaption clearfix">
                  <%= link_to potepan_product_path(product.id) do %>
                    <h5><%= product.name %></h5>
                  <% end %>
                  <h3><%= product.display_price %></h3>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row latestArticles">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>お役立ち記事</h4>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html">
            <%= image_tag("home/articles/articles-01.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html">
            <%= image_tag("home/articles/articles-02.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html">
            <%= image_tag("home/articles/articles-03.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html">
            <%= image_tag("home/articles/articles-04.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
